<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}PJ's Portfolio{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body id="top">
    <!-- Background Animation -->
    <div class="cyber-snow"></div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar">
        <div class="nav-left">
            <a href="{{ '/' if request.path != '/' else '#top' }}" class="logo">PJ's Blog</a>
        </div>  

        <div class="nav-right">
            <a href="{{ '/' if request.path != '/' else '#top' }}">Home</a>
            <a href="#dashboard-section">Progress</a>
            <a href="#projects-section">Projects</a>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
